:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos base*/
body {
  background-color: var(--preta);
  font-family: 'Times New Roman', Times, serifss;
  color: white;
}

/*tela , flex direction estiliza */
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Arial Black', Times;
  font-size: 45px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

/*a:hover faz uma estilização ao passar o cursor em cima dos marcadores de tag <a> (links)*/
header nav a:hover {
  color: #fff;
}
/*background size, cover ((alinha o tamanho da imagem para se adaptar a tela))*/
.filme-principal {
  font-size: 15px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('../imagens/fundoR6.jpg');

  height: 350px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.filme-principal .titulo {
  margin-top: 12%;
  font-size: 35%;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 40px;
}

/*efeito de transparencia no botao, r,g,b, valor camada alfa 50%*/
.botao{
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white; /*cor do elemento de dentro*/

  padding: 15px 30px;/*espaçamento interno do elemento, padding sem especificar o lado vai ser aplicado nos 4 lados*/
  /*dois valores > primeiro up-down- segundo > left-right*/
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: .5s ease all;
}

.botao:hover{
  background-color: white;
  color: black;
}
.botao i{
  margin-right: 5px;
}