:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos base*/
body {
  background-color: var(--preta);
  font-family: 'Times New Roman', Times, serifss;
  color: white;
}

/*tela , flex direction estiliza */
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Arial Black', Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

/*a:hover faz uma estilização ao passar o cursor em cima dos marcadores de tag <a> (links)*/
header nav a:hover {
  color: #fff;
}
/*background size, cover ((alinha o tamanho da imagem para se adaptar a tela))*/
.filme-principal {
  font-size: 15px;
  background: url('../imagens/fundoR6.jpg');

  height: 400px;
  background-size: cover;
}
